<div class="add-item" >
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="addTask()"
    >
 
        <text-input
            [placeholder]="'O que planeja fazer?'"
            ($value)="getTask($event)"
            ($esc)="cancel()"
            ($enter)="addTask()"
        ></text-input>
        
        <div class="form__section">
            <label class="form__section__label"
                   for="number">
                Quantas sessões?
            </label>
            
            <input class="form__section__input"
                   formControlName="sections"
                   type="number"
                   id="number"
                   min="0"
                   max="12"
                   value="1">
        </div>
    </form>
    
    <div class="actions">
        <button
            class="actions__btn actions__btn-cancel"
            (click)="cancel()">
            Cancelar
        </button>
        
        <button
            class="actions__btn actions__btn-save"
            [class]="buttonValidateClass()"
            (click)="addTask()"
            [disabled]="!isValid()">
            Salvar
        </button>
    </div>
</div>