@mixin _url($item) {
    mask: url("/app/assets/icons/navbar/#{$item}.svg") no-repeat center;
}

@mixin grid-center() {
    display: grid;
    place-content: center;
}

@mixin truncate {
    text-overflow: ellipsis;
    overflow: hidden;
}