@use "styles/spinner";
@import "base";

@mixin _shadow($range, $color) {
    box-shadow: 0 0 $range $color;
}

@mixin _cfgButton($color) {
    border: 2px solid $color;
    @include _shadow(6px,#{$color}33);
    &:hover {
        @include _shadow(12px,#{$color}44);
        background-color: $color;
    }
}

section {
    $title-height: 70px;
    color: $text-primary;
    background-color: $surface-secondary;
    margin-top: 4rem;
    min-width: 250px;
    padding: 2rem 4rem 0;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 4px solid $surface-primary;
    border-radius: 25px;
    box-shadow: 0 4px 30px $surface-primary;
    .active {
        color: $brand-secondary !important;
        background-color: $surface-primary;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 0;
        li {
            cursor: pointer;
            padding: 0.75rem;
            border-radius: 10px;
            color: $text-secondary;
            transition: color 100ms ease-in-out, background-color 200ms ease-in;
        }
    }
    .header {
        margin-bottom: 32px;
    }
    .edit, .title {
        max-height: $title-height;
    }
    .edit {
        display: flex;
        align-content: center;
        input[type="text"] {
            padding: 10px;
            max-width: 300px;
            font-size: 1em;
        }
        button {
            min-width: 30px;
        }
    }

    .title {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: ". title edit";
        align-items: center;
        justify-items: center;
        color: $text-primary;
        gap: 16px;
        h3 {
            grid-area: title;
            place-content: center;
            font-size: 2em;
            height: auto;
            margin: 0;
        }

        .editButton {
            grid-area: edit;
            mask: url("../../../../../assets/icons/timerScreen/Pencil.svg") no-repeat center;
            $_size: 24px;
            place-content: center;
            width: $_size; height: $_size;
            background-color: #{$text-secondary}99 ;
            cursor: pointer;
        }
    }

    .clock {
        $_border: 30px;

        aspect-ratio: 1; // force div to be square
        position: relative;
        display: inline-grid;
        place-content: center;
        margin-bottom: 40px;

        .timer {
            position: absolute;
            place-self: center;
            font-size: 2rem;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            border-radius: 50%;
        }

        &:before {
            filter: opacity(10%);
            inset: 0;
            background: radial-gradient(circle at 10%, #e66465aa 10%, #9198e5aa calc(99% - $_border));
            -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - $_border), #000 calc(100% - $_border));
            mask: radial-gradient(farthest-side, #000 calc(99% - $_border), #0000 calc(100% - $_border));
        }

        &:after {
            inset: 14.7%;
            box-shadow: 0 0 10px #000000aa;
        }
    }

    input[type=button] {
        border-radius: 5px;
        width: 120px;
        height: 40px;
        padding: 0.25em 1em;
        margin-bottom: 1em;
        transition: all 100ms ease-in;
        font-size: 1.25em;
        text-align: center;
        font-weight: 500;

        &:hover {
            transition-delay: 0ms;
            transform: scale(105%);
        }
    }

    .play {
        background-color: transparent;
        color: $text-secondary;
        @include _cfgButton($brand-primary);
        &:hover {
            color: $text-on-tooltip;
        }
    }

    .pause {
        background-color: $brand-primary;
        color: $text-on-tooltip;
        border: none;
        &:hover {
            color: $text-on-tooltip;
        }
    }

    .stop {
        color: $text-secondary;
        @include _cfgButton(#ff0000);
        background-color: transparent;
    }
}