<section >
    <div
        class="header"
        (mouseenter)="mouseActive = true"
        (mouseleave)="mouseActive = false">
 
        <div
            class="edit"
            *ngIf="editMode">
 
            <text-input
                autofocus
                [placeholder]="'Digite um novo título'"
                [InitValue]="editInput"
                ($value)="getTitle($event)"
                ($blur)="loseFocus()"
                ($esc)="closeEditing()"
                ($enter)="saveTitle()"
            >
            </text-input>
            
            <button *ngIf="editInput.length >= 3"
                    [showDelay]="300"
                    [tooltip]="'Salvar'"
                    [style.cursor]="'pointer'"
                (click)="this.saveTitle()">
                <div></div>
            </button>
 
            <button
                *ngIf="editInput.length < 3"
                [tooltipAlways]="true"
                [tooltip]="'O título precisa ter 3 ou mais caracteres'"
                (click)="this.saveTitle()">
                <div class="inactive"></div>
            </button>
 
        </div>
        <div
            class="title"
            *ngIf="!editMode">
            
            <h3>
                {{item.content}}
            </h3>
            
            <div class="editButton"
                 *ngIf="!isActive"
                 (click)="editMode = !editMode">
            </div>
        </div>
        <div *ngIf="pomodoroCurrentSection <= pomodoroMaxSessions">
            <p>Sessão:</p>
            <p>{{pomodoroCurrentSection}} <small>de</small> {{pomodoroMaxSessions}}</p>
        </div>
        <div  *ngIf="pomodoroCurrentSection > pomodoroMaxSessions">
            <p>Item finalizado! Parabéns ✨</p>
        </div>
    </div>

    <div class="clock">
        <div class="timer">
            {{minutes}}:{{extraSeconds}}
        </div>
        <div class="pie"></div>
    </div>

    <input *ngIf="!isActive" class="play" type="button" [value]="started ? 'Voltar' : 'Iniciar'" (click)="startTimer()">
    <input *ngIf="isActive && started" class="pause" type="button" value="Pausar" (click)="pauseTimer()">
    <input *ngIf="started" class="stop" type="button" value="Desistir" (click)="stopTimer()">
    
    <div>
        <ul>
            <li (click)="onClickChangeMode('focus')"
                [ngClass]="applyTimerStyles('focus')">
                Hora de focar
            </li>
            
            <li (click)="onClickChangeMode('shortPause')"
                [ngClass]="applyTimerStyles('shortPause')">
                Pausa Curta</li>
            
            <li (click)="onClickChangeMode('longPause')"
                [ngClass]="applyTimerStyles('longPause')">
                Pausa Longa</li>
        </ul>
    </div>

</section>