<h2>Configuração</h2>

<form [formGroup]="form">
    <div class="settings">
        <div>
            pomodoro: <br>
            25
            <number-selector></number-selector>
        </div>

        <div>
            pequena pausa: <br>
            5
        </div>

        <div>
            grande pause: <br>
            15
        </div>
    </div>

    <div class="options">
        <div>
            <label for="pause-auto">
                Pausar automaticamente após completar o pomodoro
            </label>
            <input type="checkbox" name="pause-auto" id="pause-auto">
        </div>

        <div>
            <label for="play-auto">
                Continuar pomodoro <br>
                automaticamente após a pausa <br>
            </label>
            <input type="checkbox" name="play-auto" id="play-auto">
        </div>
    </div>

    <button>Cancelar</button>
    <button>Salvar</button>
</form>