<main>
    <nav>
        <button class="title" aria-label="Potodo Logotype">
            <div class="icon brand"></div>
        </button>
        <ul>
            <li>
                <a routerLink="/timer" routerLinkActive="route-active" [routerLinkActiveOptions]="{exact: true}">
                    <div class="icon menu" (click)="resetRoute()"></div>
                </a>
            </li>

            <li *ngIf="this.hasRoute">
                <a [routerLink]="['/timer', currentRoute]" routerLinkActive="route-active">
                    <div class="icon timer"></div>
                </a>
            </li>

            <li>
                <a routerLink="/timer/config" routerLinkActive="route-active">
                    <div class="icon config"></div>
                </a>
            </li>

            <!-- <li>
                <a routerLink="/user" routerLinkActive="route-active">
                    <div class="icon user"></div>
                </a>
            </li> -->
        </ul>
    </nav>

    <section>
        <div>
            <router-outlet></router-outlet>
        </div>
    </section>
</main>