@import 'base';

$fg: #{$text-primary}22;
$bg: $crust;

@mixin border($size, $color, $direction) {
    border-left: $size+px solid transparent;
    border-right: $size+px solid transparent;
    border-#{$direction}: $size+px solid $color;
    left: calc(50% - $size * 1px);
}

.tooltip {
    position: fixed;
    opacity: 0;
    background-color: $bg;
    color: $text-primary;
    border-radius: 4px;
    padding: 10px 10px;
    font-size: 13px;
    border: 1px solid $fg;
    max-width: 100px;
    text-align: center;
    z-index: 10;
    box-shadow: 0 4px 15px #{$bg}aa;

    &::before, &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
    }

}

.below {
    transform: translateX(-50%);
    margin-top: 7px;

    &::before {
        @include border(6, $fg, bottom);
        top: -6px;
        z-index: 3;
    }
    &::after {
        @include border(5, $bg, bottom);
        top: -5px;
        z-index: 4;
    }
}

.above {
    transform: translate(-50%, -115%);

    &::before, &::after {
        bottom: -5px;
    }
    &::before {
        @include border(7, $fg, top);
        z-index: -2;
    }
    &::after {
        @include border(8, $bg, top);
        z-index: -1;
    }
}

.left {
    transform:translate(calc(-100% - 7px), -50%);

    &::before {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right: none;
        right: -5px;
        top: calc(50% - 5px);
    }
}

.right {
    transform:translateY(-50%);
    margin-left: 7px;

    &::before {
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left: none;
        left: -5px;
        top: calc(50% - 5px);
    }
}

.dynamic {
    margin-left: 20px;

    &::before {
        display: none;
    }
}

.visible {
    opacity: 1;
    transition: opacity 300ms;
}

.light {
    background-color: $bg;
    color: $text-primary;

    &::before {
        border: 5px solid $fg;
    }
}