@import "base";

$margin_top: 150px;

.list-body {
    position: relative;
    background-color: $surface-secondary;
    min-width: 30vw;

    margin: $margin_top 3em 3em;
    padding: 2rem;
    border: 4px solid $surface_primary;
    border-radius: 15px;
    box-shadow: 0 6px 15px #{$brand-primary}30;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 1em;

            .item {
                min-width: 250px;
                background-color: $brand-secondary;
                color: black;
                width: 80%;
                height: 50px;
                padding: 0.75em;
                border-radius: 10px;
                box-shadow: 0 4px 16px $surface-primary;

                display: flex;
                justify-content: space-between;
                align-items: center;

                &__content {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    transition: all 300ms ease-in;
                    font-weight: 500;

                    &--text {
                        max-width: 250px;
                        font-size: 1.2em;
                    }
                }

            }
        }
    }
}

.options {
    display: flex;
    align-content: center;
    justify-items: center;
}

.delete, .pomodoro {
    position: relative;
    cursor: pointer;
    margin: 0 4px;
    transition: all 100ms ease-in-out 0ms;
    padding: 4px;
    z-index: 1;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 3px #000000aa;

    &:hover {
        box-shadow: 0 4px 6px #000000aa;
        transform: scale(110%);
    }

    &__icon {
        $size: 32px;
        width: $size; height: $size;
    }
}

.delete {
    background-color: #dc798b;
    & .--trash {
        background-color: #4d0404;
        mask: url("/assets/icons/timer/Trash.svg") center no-repeat;
        &:hover {
            background-color: #2d0000;
        }
    }
}
.pomodoro {
    background-color: #adebb6;
    & .--redirect {
        background-color: $text-on-tooltip;
        mask: url("/assets/icons/timer/SquareOut.svg") center no-repeat;
        z-index: 2;
    }
}

.checked {
    text-decoration: line-through;
    filter: opacity(70%);
}

h1 {
    position: absolute;
    top: -80px;
    font-size: 2em;
}

input[type = "checkbox"] {
    $size: 20px;
    position: relative;
    margin-right: calc($size + $size / 2);

    &:before, &:after {
        position: absolute;
        content: "";
        width: $size;
        height: $size;
        inset: 0;
        transform: translateY(-4px);
    }

    &:before {
        background-color: #2B2841;
        border-radius: 5px;
        box-shadow: 0 0 4px $shadow;
    }

    &:after {
        mask: url("/assets/icons/timer/Check.svg");
        transform: scale(0%);
        transition: transform 200ms ease-in-out;
    }

    &:checked:before {
        background-color: #2B2841;
        border-radius: 5px;
        box-shadow: 0 2px 8px $shadow;
    }

    &:checked:after {
        top: -2px;
        $size: 18px;
        width: $size;
        height: $size;
        background-color: white;
        mask: url("/assets/icons/timer/Check.svg");
        transform: scale(100%);
    }
}

form {
    position: relative;
    top: 4em;
    display: flex;
    align-items: center;
    gap: 1rem;

    button {
        border: 2px solid $surface-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 35px;
        width: 40px;
        font-size: 32px;
        background-color: $brand-primary;
        transition: all 100ms ease-in;
    }

    ._valid {
        filter: opacity(100%);
        box-shadow: 0 2px 20px #{$brand-secondary}30;
        transform: scale(110%);
        cursor: pointer;
    }

    ._disabled {
        filter: opacity(30%);
    }
}

.input {
    position: relative;
    border: 2px solid black;
    border-radius: 8px;

    & > * {
        height: 24px;
        padding: 15px;
        cursor: text;
    }

    input {
        transition: all 100ms ease-in;
        font-size: 1em;
    }

    label {
        position: absolute;
        width: 200px;
        height: auto;
        color: black;
        left: 0;
        user-select: none;
        transition: all 100ms ease-in-out 100ms;
    }

    .focused {
        transform: scale(90%) translateY(-15px) translateX(-15px);
        transition-delay: 0ms;
        filter: opacity(80%);
    }
}