<div class="list-body">
    <h1>Minha lista</h1>
    <ul>
<!-- Todo: Fix hover actions -->
        <li *ngFor="let item of items">
            <div class="item"
                 (mouseenter)="hoverItem = item.id"
                 (mouseleave)="hoverItem = ''">
                
                <div class="content">
                     <input class="checkbox"
                            (click)="checkTask(item.id,  !item.complete)"
                            name="check"
                            type="checkbox"
                            [checked]="item.complete"
                     >
                    
                    <span [ngClass]="{'checked': item.complete}">
                        {{item.content}}
                    </span>
                </div>
 
                <div class="options"
                     [hidden]="hoverItem != item.id">
 
                    <input class="delete"
                           (click)="removeTask(item.content)"
                           type="button"
                           aria-label="Deletar item"
                    >
 
                    <input class="openTimer"
                           [routerLink]="['/timer/',item.id]"
                           type="button"
                           aria-label="Entrar no temporizador"
                    >

                </div>
            </div>
        </li>
    </ul>

<!-- Todo: Make this form a new component to be activated when clicked on one button -->
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="addTask()"
    >
 
        <div class="input">

            <input (focus)="handleLabel('focus')"
                   (blur)="handleLabel('blur')"
                   autocomplete="off"
                   formControlName="task"
                   type="text"
                   id="floatingInput"
            >
            <label [ngClass]="applyVisual()"
                   for="floatingInput">
                Adicionar tarefa
            </label>
            
        </div>

        <button [class]="isValid() ? '_valid' : '_disabled'"
                (click)="addTask()"
                [disabled]="!isValid()">
            +
        </button>
    </form>
</div>