@import "base";
$margin_top: 150px;

checkbox {
    @include grid-center();
}

.list-body {
    position: relative;
    background-color: $surface-secondary;
    display: grid;

    padding: 2rem;
    border: 4px solid $surface_primary;
    border-radius: 15px;
    box-shadow: 0 6px 15px #{$brand-primary}30;
    max-width: 30vw;
    width: 100%;
    min-width: 270px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            width: 100%;
            max-width: 400px;
            margin: 16px 0 ;

            .item {
                background-color: $brand-secondary;
                color: black;
                min-width: 200px;
                height: 50px;
                padding: 0.75em;
                border-radius: 10px;
                box-shadow: 0 4px 16px $surface-primary;

                display: flex;
                justify-content: space-between;
                align-items: center;

                &__content {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    transition: all 300ms ease-in;
                    font-weight: 500;

                    &--text {
                        max-width: 230px;
                        font-size: 1.2em;
                        @include truncate;
                    }
                }

            }
        }
    }
}

.options {
    display: flex;
    align-content: center;
    justify-items: center;
}

.delete, .pomodoro {
    position: relative;
    cursor: pointer;
    margin: 0 4px;
    transition: all 100ms ease-in-out 0ms;
    padding: 4px;
    z-index: 1;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 3px #000000aa;

    &:hover {
        box-shadow: 0 4px 6px #000000aa;
        transform: scale(110%);
    }

    &__icon {
        $size: 32px;
        width: $size;
        height: $size;
    }
}

.delete {
    background-color: #dc798b;

    & .--trash {
        background-color: #4d0404;
        mask: url("/app/assets/icons/timer/Trash.svg") center no-repeat;

        &:hover {
            background-color: #2d0000;
        }
    }
}

.pomodoro {
    background-color: #adebb6;

    & .--redirect {
        background-color: $text-on-tooltip;
        mask: url("/app/assets/icons/timer/SquareOut.svg") center no-repeat;
        z-index: 2;
    }
}

.checked {
    text-decoration: line-through;
    filter: opacity(70%);
}

h1 {
    position: absolute;
    top: -80px;
    font-size: 2em;
}

.add-item {
    transition: scale 100ms ease-in-out;
    z-index: 6;

    div {
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }

    &--button, &--menu {
        position: absolute;
        bottom: -40px;
        width: 300px;
    }

    &--button {
        height: 60px;
        border-radius: 10px;
        border-style: dashed;
        background-color: $surface-secondary;
        border-color: $brand-primary;
        color: $text-primary;
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
            scale: 110%;
        }
    }

    &--menu {
        width: 100%;
    }
}


@include media("<desktop") {
    .add-item--menu {
    }
}