<div class="list-body">
    <h1
        [tooltipPosition]="tooltipPosition"
        [tooltip]="'Ir para o temporizador'"
    >Minha lista</h1>
    <ul>
        <li *ngFor="let item of items"
           (mouseenter)="hoverItem = item.id"
           (mouseleave)="hoverItem = ''" >
            
            <div class="item"
                 >
                
                <div class="content">
                     <input class="checkbox"
                            (click)="checkTask(item.id,  !item.complete)"
                            name="check"
                            type="checkbox"
                            [checked]="item.complete"
                     >
                    
                    <span [ngClass]="{'checked': item.complete}">
                        {{item.content}}
                    </span>
                </div>
 
                <div class="options"
                     >
 
                    <button class="delete"
                           (click)="removeTask(item.content)"
                           type="button"
                           aria-label="Deletar item"
                            [tooltip]="'Deletar item'"
                            [tooltipPosition]="tooltipPosition"
                            [showDelay]="300"
                            [hideDelay]="500"
                    >
                        <div class="delete__icon --trash"></div>
                    </button>
                    <button class="pomodoro"
                           (click)="setRoute(item.id)"
                           [routerLink]="['/timer/',item.id]"
                           type="button"
                           aria-label="Entrar no temporizador"
                            [tooltip]="'Ir para o temporizador'"
                            [tooltipPosition]="tooltipPosition"
                            [showDelay]="1000"
                            [hideDelay]="200"
                    >
                        <div class="pomodoro__icon --redirect" ></div>
                    </button>

                </div>
            </div>
        </li>
    </ul>

<!-- Todo: Make this form a new component to be activated when clicked on one button -->
    <form class="form"
          [formGroup]="form"
          (ngSubmit)="addTask()"
    >
 
        <div class="input">

            <input (focus)="handleLabel('focus')"
                   (blur)="handleLabel('blur')"
                   autocomplete="off"
                   formControlName="task"
                   type="text"
                   id="floatingInput"
            >
            <label [ngClass]="applyVisual()"
                   for="floatingInput">
                Adicionar tarefa
            </label>
            
        </div>

        <button [class]="isValid() ? '_valid' : '_disabled'"
                (click)="addTask()"
                [disabled]="!isValid()">
            +
        </button>
    </form>
</div>