<div class="list-body">
    <h1>Minha lista</h1>
    <ul>
        <li *ngFor="let item of items">
            <div class="item" (mouseenter)="hoverItem = item.id" (mouseleave)="hoverItem = ''">
                <div class="content">
                     <input class="checkbox" (click)="checkTask(item.id,  !item.complete)" name="check" type="checkbox" [checked]="item.complete">
                    <span [ngClass]="{'checked': item.complete}">{{item.content}}</span>
                </div>
                <div [hidden]="hoverItem != item.id" class="options">
                    <input class="delete" (click)="removeTask(item.content)" type="button" aria-label="Deletar item">
                    <input class="openTimer" [routerLink]="['/timer/',item.id]" type="button" aria-label="Entrar no temporizador">
                </div>
            </div>
        </li>
    </ul>

    <form class="form" [formGroup]="form" (ngSubmit)="addTask()">
        <div class="input">

            <input (focus)="handleLabel('focus')"
                   (blur)="handleLabel('blur')"
                   autocomplete="off"
                   formControlName="task"
                   type="text"
                   id="floatingInput">

            <label [ngClass]="applyVisual()" for="floatingInput">Adicionar tarefa</label>
        </div>

        <button (click)="addTask()" [class]="isValid() ? '_valid' : '_disabled'" [disabled]="!isValid()">
            +
        </button>
    </form>
</div>