$surface-primary: #1E1E2E;
$surface-secondary: #2B2841;

$brand-primary: #CBA6F7;
$brand-secondary: #F38BA8;

$text-primary: #E4FFFD;
$text-secondary: #CDD6F4;
$text-on-tooltip: #2B2841;

$shadow: #1E293Baa;